<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <img src="./assets/images/logo-new_navbar.png" alt="">
    <div class="navbar-content">
      <ul>
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="qa.html">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footerList pt-3">
        <ul class="footerContent">
          <li class="mr-4 fz-1"><a href="#">首頁</a></li>
          <li class="mr-4 fz-1"><a href="#">系列鏡框</a></li>
          <li class="mr-4 fz-1"><a href="#">門市據點</a></li>
          <li class="mr-4 fz-1"><a href="#">部落格</a></li>
          <li class="fz-1"><a href="qa.html">常見問題</a></li>
        </ul>
        <ul class="footerSocial">
          <li class="mr-3"><a href="#"><img src="./assets/images/ic_social_fb.svg" alt=""></a></li>
          <li class="mr-3"><a href="#"><img src="./assets/images/ic_social_ig.svg" alt=""></a></li>
          <li><a href="#"><img src="./assets/images/ic_social_line.svg" alt=""></a></li>
        </ul>
      </div>
      <ul class="footerContact">
        <li class="tel">
          <a href="#">
            <img class="mr-2" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-phone.svg" alt="">
            <p class="fz-4">0800-000-000</p>
          </a>
        </li>
        <li class="email mt-2">
          <a href="#">
            <img class="mr-2" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/8a71940d3cd9c932e7126e75e093f68f3a861b79/week3/icon-mail.svg" alt="">
            <p class="fz-4">glasses@business.com</p>
          </a>
        </li>
      </ul>
      <div class="copyright mt-3">
        <p class="fz-1">Copyright © 2020 Glasses.All rights reserved.</p>
        <ul>
          <li class="mr-4">
            <a href="#">隱私權政策</a>
          </li>
          <li>
            <a href="#">服務條款</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>



